nav {
    border-bottom: 1px rgb(31, 29, 27) solid;
    background-color:rgb(31, 29, 27) ;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

button {

    padding: 5px;

    i {
        font-size: 20px;
    }
}